html, body{
    margin: 0;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
body{
    display: flex;
}
.container{
    margin: 0%;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 500px;
    height: 500px;
    background-color:#111827;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: sans-serif;   
}
.yellowBox{
    margin: 16px 16px;
    height: 250px;
    width: 450px;
    background-color: #FADB01;
    color:black;
    border-radius: 9px;
}
.p_arriba{
    display: flex;
    width: 15px;
    height: 15%;
    padding-right: 16px;
    margin-left: auto;
    margin-right: 10px;  
}

.T1_texto{
    width: 50%;
    margin:15px;
}
.T1_texto>h1{
    font-size: 30px;
}
.lap{
    display: flex;
    width: auto;
    height: 65%;
    margin-left: auto;
    margin-bottom: 50px;
    margin-top: -150px;        
}
.p_abajo{
    display:flex;
    width: 30px;
    height: 40px;
    margin-left: 5px;
    margin-top: -10%;
}
.aws_text{
    display: flex;
    margin: 15px;
    font-family: sans-serif;
    font: 30px;
}