html, body{
    padding-top: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
    height: 80%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
body{
    display: flex;
}
.container{
    margin: 0%;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 500px;
    height: 500px;
    background-color:#111827;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: sans-serif;   
}
.yellowBox{
    margin: 16px 16px;
    height: 250px;
    width: 450px;
    background-color: #FADB01;
    color:black;
    border-radius: 9px;
}
.p_arriba{
    display: flex;
    width: 15px;
    height: 15%;
    padding-right: 16px;
    margin-left: auto;
    margin-right: 10px;  
}
.T1_texto{
    width: 50%;
    margin:15px;
}
.T1_texto>h1{
    font-size: 30px;
}
.lap{
    display: flex;
    width: auto;
    height: 65%;
    margin-left: auto;
    margin-bottom: 50px;
    margin-top: -150px;        
}
.p_abajo{
    display:flex;
    width: 30px;
    height: 40px;
    margin-left: 5px;
    margin-top: -10%;
}
.aws_text{
    display: flex;
    margin:17px;
    font-size: 29px;
}
.first_p{
    margin:17px;
    font-size: 18px;
    color:lightgray;
}
.read{
    margin:17px;
}
.book{
    height: 10px;
    width: 10px;  
}

.container_2{
    margin-top: 16px;
    height: 500px;
    width: 400px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.whitebox{
    margin: 16px;
    border-radius: 9px;
    height: 445px;
    width: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.post_1{
    display: flex;
    flex-direction: row;
    border-bottom: 1.7px solid hsl(1, 0%, 80%);
}
.box_content{
    display: flex;
    flex-direction: column;
    width: 200px;
}
.up_part{
    display: flex;
    flex-direction: row;
    width: 180px;
    height: 50px;
}
.foto1{
    margin:10px;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    object-fit: cover;
    object-position: center;
}
.username{
    font-family: sans-serif;
    color:#007bff;
    margin: 16px 3px;
}
.mid_part{
    margin: 16px;
    width: 210px;
    height: 15px;
}
.c_text{
    margin-top: -15px;
    font-family: sans-serif;
}
.down_part{
    margin: 16px 16px 3px 16px;
    width: 210px;
    height: 15;
}
.d_text{
    font-family: sans-serif;
    font-size: 10px;
    color: #808080;
}
.box_image{
    display: flex;
}
.foto2{
    width: 100px;
    border-radius: 9px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    margin-top: 20px;
    margin-left: 30px;
}
.post_2{
    display: flex;
    flex-direction: row;
    border-bottom: 1.7px solid hsl(1, 0%, 80%);
}
.post_3{
    display: flex;
    flex-direction: row;
    border-bottom: 1.7px solid hsl(1, 0%, 80%);
}
.container_3{
    margin-top: 16px;
    height: 250px;
    width: 800px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.whitebox_2{
    margin: 16px; 
    border-radius: 9px;
    height: 220px;
    width: 780px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.foto3{
    margin:20px;
    width: 65px;
    border-radius: 50%;
    height: 65px;
    object-fit: cover;
    object-position: center;
}
.t3_cont{

    font-family: sans-serif;
    margin:-5px;
    width: 650px;
}
.u_name{
    font-size: 20px;
    height: 2px;
}
.date{
    color: hsl(1, 0%, 50%);
}
.post_text{
    height: 58px;
    width: 500px;
}
.hashtag{
    margin: 10px 0;
    height: 10px;
    font-size: larger;
    color: gray;
    word-spacing: 20px;
}
.heart{
    height: 18px;
    width: 18px;
}
.reactions{
    margin: 10px 0;
    height: 5px;
    display: inline-block;
}
.comment{
    margin-left: 40px;
    height: 18px;
    width: 18px;
}
.comments{
    margin: 10px 0;
    height: 5px;
    display: inline-block;
}

.p3_read{
    padding-left: 270px;
    margin: 10px 0;
    height: 5px;
    display: inline-block;
}
.save{
    height: 18px;
    width: 18px;
}