html, body{
    margin: 0;
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
  
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 500px;
    height: 500px;
    background-color:#111827;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    
}
.yellowBox{
    margin: 16px 16px;
    height: 250px;
    width: 450px;
    background-color: #FADB01;
    color:black;
    display: block;
    border-radius: 9px;
   
}